.footer {
  width: 100%;
  height: 100px;
  background: #21325e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.footer p {
  color: white;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}

.icon {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}